#-----.gitignore建议推送到远程仓库----
#.gitignore
.idea/
.mvn/
target/
rebel.xml
*.iml
*.ipr
*.iws
*.swp
*.swo
*.swn
*.DS_Store
mvnw
mvnw.cmd
logs
HELP.md

.project
.settings/
.classpath
.metadata/

/node_modules/
/dist/
/build/